{% extends "base.html" %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'css/products.css' %}" />
<div class="background"></div>
<div class="heading">
  <h1>Explore</h1>
  <h3>Discover our vast selection of products</h3>
</div>
<div class="buttons">
  <button>🛒 Products</button>
  <button>🆕 New Arrivals</button>
  <button>💌 Most Popular</button>
</div>
<div class="container">
  <img
    src="https://m.media-amazon.com/images/I/9101MLPcFTL._SY522_.jpg"
    alt="Onyx Storm"
  />
  <img
    src="https://m.media-amazon.com/images/I/9101MLPcFTL._SY522_.jpg"
    alt="Onyx Storm"
  />
  <img
    src="https://m.media-amazon.com/images/I/9101MLPcFTL._SY522_.jpg"
    alt="Onyx Storm"
  />
  <img
    src="https://m.media-amazon.com/images/I/9101MLPcFTL._SY522_.jpg"
    alt="Onyx Storm"
  />
</div>
{% endblock %}
